<!-- <h1>Welcome to {{hotelName}}</h1> -->
 <hinv-header></hinv-header>
<div [hidden]="hideRooms">
    No. of Rooms :
    <div [innerText]="numsOfRooms"
    [ngStyle]="{
        'color' : rooms.availableRooms > 0 ? 'green' : 'red'
    }"></div>
</div>

<div>
    {{selectedRoom | json}}
</div>

<div (click)="addRoom()">Add Room</div>

<!-- {{roomList | json}} -->
<hinv-rooms-list [rooms]="roomList"  [title]="title" (selected)="selectedRoomList($event)"></hinv-rooms-list>


<button (click)="toggle()">Click me</button>

